body {
  background-image: linear-gradient(340deg, #45c6ec, transparent);
  font-family: Georgia, "Times New Roman", Times, serif;
}

header .page {
  background-color: rgba(77, 111, 151, 0.64);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.403);
  padding: 0.2em;
  border-radius: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

header .target-page {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.403);
  transform: scale(1.2);
  transition: all 0.3s linear 0s;
}

header .nav-meteo {
  box-shadow: 0px 0px 10px 1px black;
  background-image: linear-gradient(45deg, #eca265, #2b9488);
}

header #link-logo {
  width: 5em;
}

main .location {
  border-radius: 30px;
  background-image: linear-gradient(10deg, #3399f5, transparent);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.536);
}

main #name-location {
  background-image: linear-gradient(279deg, #00000033, #ebebeb00);
  width: max-content;
  padding: 1em;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

main .box-meteo {
  background-image: linear-gradient(302deg, #0000004f, transparent);
  width: max-content;
  border-radius: 20px;
  padding: 1em;
  margin: 1em;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.399);
}

main .title-meteo {
  border-bottom: 2px solid #2065a2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5em;
}

main #meteo-search {
  border-bottom: 2px solid #184358;
  padding: 1em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: linear-gradient(0deg, #4b7591, transparent);
  border-right: 2px solid #184358;
  border-top-right-radius: 20px;
  border-left: 2px solid #184358;
  border-top-left-radius: 20px;
  box-shadow: 0px 5px 5px 1px #00000053;
}

main .button-prevs {
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  margin-top: 2em;
  background-image: linear-gradient(2deg, #0000003b, #48a1c9);
  box-shadow: 0px 0px 5px 1px #00000052;
}

.button-prevs:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.2s linear 0s;
}
